USE [tecno]
GO
/****** Object:  Table [dbo].[Material$]    Script Date: 07.12.2025 16:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material$](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Material] [nvarchar](255) NULL,
	[Material_type] [int] NULL,
 CONSTRAINT [PK_Material$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[material_type$]    Script Date: 07.12.2025 16:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[material_type$](
	[Material_type] [varchar](20) NOT NULL,
	[PerDefect] [float] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_material_type$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MaterialInProduct]    Script Date: 07.12.2025 16:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MaterialInProduct](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[id_prodiction] [int] NULL,
	[id_material] [int] NULL,
 CONSTRAINT [PK_MaterialInProduct] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ParthAndProd$]    Script Date: 07.12.2025 16:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ParthAndProd$](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Partner_name] [int] NULL,
	[Production] [int] NULL,
	[QuantityProd] [int] NULL,
 CONSTRAINT [PK_ParthAndProd$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner$]    Script Date: 07.12.2025 16:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner$](
	[Partner_type] [int] NULL,
	[Partner_name] [varchar](50) NULL,
	[Direktor] [varchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](13) NULL,
	[adress] [varchar](150) NULL,
	[INN] [varchar](20) NULL,
	[Rating] [int] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Partner$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partner_type$]    Script Date: 07.12.2025 16:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partner_type$](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Partner_type] [varchar](50) NULL,
 CONSTRAINT [PK_Partner_type$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production$]    Script Date: 07.12.2025 16:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production$](
	[Article] [int] NOT NULL,
	[Production_name] [varchar](100) NULL,
	[Production_Type] [int] NULL,
	[Min_price] [float] NULL,
	[QuantitySklad] [int] NULL,
 CONSTRAINT [PK_production$] PRIMARY KEY CLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[production_type$]    Script Date: 07.12.2025 16:36:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[production_type$](
	[Production_Type] [varchar](50) NULL,
	[Coef_type] [float] NULL,
	[ID] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_production_type$] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Material$] ON 

INSERT [dbo].[Material$] ([ID], [Material], [Material_type]) VALUES (1, N'Дерево', 2)
INSERT [dbo].[Material$] ([ID], [Material], [Material_type]) VALUES (2, N'ДСП', 1)
INSERT [dbo].[Material$] ([ID], [Material], [Material_type]) VALUES (3, N'Гипсокартон', 5)
SET IDENTITY_INSERT [dbo].[Material$] OFF
GO
SET IDENTITY_INSERT [dbo].[material_type$] ON 

INSERT [dbo].[material_type$] ([Material_type], [PerDefect], [ID]) VALUES (N'Тип материала 1', 0.002, 1)
INSERT [dbo].[material_type$] ([Material_type], [PerDefect], [ID]) VALUES (N'Тип материала 2', 0.005, 2)
INSERT [dbo].[material_type$] ([Material_type], [PerDefect], [ID]) VALUES (N'Тип материала 3', 0.003, 3)
SET IDENTITY_INSERT [dbo].[material_type$] OFF
GO
SET IDENTITY_INSERT [dbo].[MaterialInProduct] ON 

INSERT [dbo].[MaterialInProduct] ([ID], [id_prodiction], [id_material]) VALUES (1, 5028272, 2)
INSERT [dbo].[MaterialInProduct] ([ID], [id_prodiction], [id_material]) VALUES (2, 5028272, 3)
INSERT [dbo].[MaterialInProduct] ([ID], [id_prodiction], [id_material]) VALUES (3, 6758375, 1)
SET IDENTITY_INSERT [dbo].[MaterialInProduct] OFF
GO
SET IDENTITY_INSERT [dbo].[ParthAndProd$] ON 

INSERT [dbo].[ParthAndProd$] ([ID], [Partner_name], [Production], [QuantityProd]) VALUES (1, 1, 8028248, 2000)
INSERT [dbo].[ParthAndProd$] ([ID], [Partner_name], [Production], [QuantityProd]) VALUES (2, 2, 9250282, 3000)
INSERT [dbo].[ParthAndProd$] ([ID], [Partner_name], [Production], [QuantityProd]) VALUES (3, 3, 6549922, 1000)
SET IDENTITY_INSERT [dbo].[ParthAndProd$] OFF
GO
SET IDENTITY_INSERT [dbo].[Partner$] ON 

INSERT [dbo].[Partner$] ([Partner_type], [Partner_name], [Direktor], [email], [phone], [adress], [INN], [Rating], [ID]) VALUES (1, N'Стройдвор', N'Андреева Ангелина Николаевна', N'angelina77@kart.ru', N'492 452 22 82', N'143001, Московская область, город Одинцово, уд. Ленина, 21', N'9.43246e+009', 5, 1)
INSERT [dbo].[Partner$] ([Partner_type], [Partner_name], [Direktor], [email], [phone], [adress], [INN], [Rating], [ID]) VALUES (1, N'Самоделка', N'Мельников Максим Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', N'7.80389e+009', 3, 2)
INSERT [dbo].[Partner$] ([Partner_type], [Partner_name], [Direktor], [email], [phone], [adress], [INN], [Rating], [ID]) VALUES (2, N'Деревянные изделия', N'Лазарев Алексей Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', N'238340, Калининградская область, город Светлый, ул. Морская, 12', N'8.43039e+009', 4, 3)
SET IDENTITY_INSERT [dbo].[Partner$] OFF
GO
SET IDENTITY_INSERT [dbo].[Partner_type$] ON 

INSERT [dbo].[Partner_type$] ([ID], [Partner_type]) VALUES (1, N'ЗАО')
INSERT [dbo].[Partner_type$] ([ID], [Partner_type]) VALUES (2, N'ООО')
INSERT [dbo].[Partner_type$] ([ID], [Partner_type]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[Partner_type$] OFF
GO
INSERT [dbo].[production$] ([Article], [Production_name], [Production_Type], [Min_price], [QuantitySklad]) VALUES (5028272, N'Бетонная Плитка Белый кирпич микс 30х7,Плитка см', 4, 2080, 100)
INSERT [dbo].[production$] ([Article], [Production_name], [Production_Type], [Min_price], [QuantitySklad]) VALUES (5029784, N'Бетонная Плитка Красный кирпич 20x6,5 см', 4, 2760, 50)
INSERT [dbo].[production$] ([Article], [Production_name], [Production_Type], [Min_price], [QuantitySklad]) VALUES (5033136, N'Гипсовая Плитка настенная Дом на берегу кирпич белый 18,5х4,5 см', 4, 499, 100)
GO
SET IDENTITY_INSERT [dbo].[production_type$] ON 

INSERT [dbo].[production_type$] ([Production_Type], [Coef_type], [ID]) VALUES (N'Древесно-плитные материалы', 1.5, 1)
INSERT [dbo].[production_type$] ([Production_Type], [Coef_type], [ID]) VALUES (N'Декоративные панели', 3.5, 2)
INSERT [dbo].[production_type$] ([Production_Type], [Coef_type], [ID]) VALUES (N'Плитка', 5.25, 3)
SET IDENTITY_INSERT [dbo].[production_type$] OFF
GO
ALTER TABLE [dbo].[Material$]  WITH CHECK ADD  CONSTRAINT [FK_Material$_material_type$] FOREIGN KEY([Material_type])
REFERENCES [dbo].[material_type$] ([ID])
GO
ALTER TABLE [dbo].[Material$] CHECK CONSTRAINT [FK_Material$_material_type$]
GO
ALTER TABLE [dbo].[MaterialInProduct]  WITH CHECK ADD  CONSTRAINT [FK_MaterialInProduct_Material$] FOREIGN KEY([id_material])
REFERENCES [dbo].[Material$] ([ID])
GO
ALTER TABLE [dbo].[MaterialInProduct] CHECK CONSTRAINT [FK_MaterialInProduct_Material$]
GO
ALTER TABLE [dbo].[MaterialInProduct]  WITH CHECK ADD  CONSTRAINT [FK_MaterialInProduct_production$] FOREIGN KEY([id_prodiction])
REFERENCES [dbo].[production$] ([Article])
GO
ALTER TABLE [dbo].[MaterialInProduct] CHECK CONSTRAINT [FK_MaterialInProduct_production$]
GO
ALTER TABLE [dbo].[ParthAndProd$]  WITH CHECK ADD  CONSTRAINT [FK_ParthAndProd$_Partner$] FOREIGN KEY([Partner_name])
REFERENCES [dbo].[Partner$] ([ID])
GO
ALTER TABLE [dbo].[ParthAndProd$] CHECK CONSTRAINT [FK_ParthAndProd$_Partner$]
GO
ALTER TABLE [dbo].[ParthAndProd$]  WITH CHECK ADD  CONSTRAINT [FK_ParthAndProd$_production$] FOREIGN KEY([Production])
REFERENCES [dbo].[production$] ([Article])
GO
ALTER TABLE [dbo].[ParthAndProd$] CHECK CONSTRAINT [FK_ParthAndProd$_production$]
GO
ALTER TABLE [dbo].[Partner$]  WITH CHECK ADD  CONSTRAINT [FK_Partner$_Partner_type$] FOREIGN KEY([Partner_type])
REFERENCES [dbo].[Partner_type$] ([ID])
GO
ALTER TABLE [dbo].[Partner$] CHECK CONSTRAINT [FK_Partner$_Partner_type$]
GO
ALTER TABLE [dbo].[production$]  WITH CHECK ADD  CONSTRAINT [FK_production$_production_type$] FOREIGN KEY([Production_Type])
REFERENCES [dbo].[production_type$] ([ID])
GO
ALTER TABLE [dbo].[production$] CHECK CONSTRAINT [FK_production$_production_type$]
GO
